<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- output data that was passed to the view using EJS syntax-->
  <title><%= title %></title>
  <!-- no need to write 'public' in href-->
  <link rel="stylesheet" href="style.css" />
</head>
